@media screen and (orientation:portrait){
	img {
		width: auto;
		height: auto;
	}
}
@media screen and (orientation:landscape){
	img {
		width: auto;
		height: auto;
	}
}
.range-slider {
	pointer-events: none;
}
  
.range-knob-handle {
	pointer-events:auto;
}
$main-bg-color: #fdfdfd;
.header {
	--ion-color-primary: #eeeeee;
	--border-color: #999999;
	--border-width: 1px;	
}
ion-back-button {
	padding: 5px;
	color: #797979;
}
.page-title {
	font-size: 20px;
	color: rgb(88, 88, 88);
}
.camera-stream {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.control-section {
	background: $main-bg-color;
	border-bottom: 1px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: rgb(185, 185, 185);
	border-style: solid;
}
.card-header {
	display: flex;
	position: relative;
	background: $main-bg-color;
}
.heading-text {
	color: rgb(92, 92, 92);
	font-size: 20px;
	text-align: start;
	vertical-align: middle;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 16px;
	margin: 0;
}
.info-icon {
	position: absolute;
	top: 0px;
	right: 4%;
	margin: 0;
	padding: 0;
}
.p-text {
	color: black;
	background: $main-bg-color;
	margin: 0;
	
    padding-bottom: 8px;
	padding-left: 16px;
}
.slider {
	margin-left: 0px;
	--knob-background: #e0e0e0;
    --bar-background-active: #1aafb4 ;
    --bar-background: #3a2a2a;
    --bar-height: 3px;
    --knob-size: 15px;
    --knob-border-radius: 50%;
    --bar-border-radius: 20px;
	--knob-box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
	padding-top: 5px;
	padding-bottom: 5px;
}
.control-label {
	width: 95px;
	word-wrap: break-word;
	font-size: 16px;
}
.slider-value-container {
	width: 15%;
	text-align: center;
}
.slider-value {
	--color: #ff0404;
}
.toggle {
	--background: $main-bg-color;
	--background-checked: #1aafb4 !important;
	--handle-background-checked: rgb(245, 245, 245) !important;
	border: 0px;
}
.input-label {
	--background: $main-bg-color;
	padding: 1px;
}
.input-text {
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
	color: black;
}
.input-item {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: $main-bg-color;
}
.reset-button {
	margin-left: 7px;
	margin-right: 7px;
	padding-bottom: 5px;
	display: block !important;
	--background: #2d0d8f;
}
ion-label {
	--color: #0000ff;
}
ion-item {
	--border-width: 0px;
	--border-style: none;
	--background: $main-bg-color;
}