ion-icon {
  zoom: 2;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
ion-button ion-label {
  color: #fff;
  font-weight: bold;
}

ion-row {
  flex-grow: 1;
  word-wrap: break-word;
  font-size: 0.8em;
  font-weight: 300;
}

ion-grid {
  min-width: 1000px;
  height: 100%;
  flex-flow: column;
  --ion-grid-padding: 0px;
}
