<ion-header>
	<ion-toolbar class="header" color="primary" mode="ios">
		<ion-buttons slot="start">
			<ion-button fill="clear"  (click)="dismiss()" large>
				<ion-icon name="ios-arrow-round-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title class="ion-text-center page-title">
			Error Log
		</ion-title>
		<ion-buttons slot="end">
			<ion-button fill="clear" slot="end" (click)="clearLog()" large>
				<ion-label>CLEAR</ion-label>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="horizontalScroll">
		<ion-grid>
			<ion-row>
				<ion-col class="ion-text-wrap ion-no-padding tableHeader"
					size="1">
					<div>ID</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableHeader"
					size="3">
					<div>Time Stamp</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableHeader"
					size="2">
					<div>Error Source</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableHeader"
					size="6">
					<div>Message</div>
				</ion-col>
			</ion-row>
			<ion-row *ngFor="let error of ErrorList">
				<ion-col class="ion-text-wrap ion-no-padding tableCell"
					size="1">
					<div>
						{{error.id}}
					</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableCell"
					size="3">
					<div>
						{{error.timeStamp}}
					</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableCell"
					size="2">
					<div>
						{{error.errorSource}}
					</div>
				</ion-col>
				<ion-col class="ion-text-wrap ion-no-padding tableCell"
					size="6">
					<div>
						{{error.errorMessage}}
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>