
.header {
	--ion-color-primary: #353d55;
	--border-color: #222;
	--border-width: 1px 0px;
	--border-style: solid;
	width: 100vw;
}
ion-header::after {
	background-image: none;
}
ion-icon {
	zoom: 3.0;
	color: #fff;
}
ion-button {
	padding-left: 0px;
	margin-left: 0px;
}
.page-title {
	font-size: 20px;
	color: #fcfcfc;
}
ion-button ion-label {
	color: #fff;
	font-weight: bold;
}
.tableHeader {
	background-color: lightgray;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 0px;
	flex-grow: 1;
	max-height: 60px;
}
.headerCol {
	--ion-grid-padding: 0px;
	margin-left: 0px;
}
ion-col div {
	flex-grow: 1;
	max-height: 50px;
	min-width: 300px;
}
ion-row {
	flex-grow: 1;
	word-wrap: break-word;
	font-size:0.8em;
	font-weight:300;
}
.horizontalScroll {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100vw;
}
ion-grid {
	display: flex;
	width: 1200px;
	flex: 1;
	height: 100%;  
	flex-flow: column;
}
.buttonContainer {
	border-bottom: 0.5px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-color: rgb(177, 177, 177); 
	border-style: solid;
}
.buttonContainer ion-button {
	width: 100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	--background: #fff;
	--color: #000;
	--border-width: 0.5px 0px 0px 0px;
	--border-color: rgb(177, 177, 177);
	--background-hover:  rgb(212, 225, 238);
	--background-activated: rgb(212, 225, 238);
	--border-style: solid;
	--border-radius: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
ion-button {
	margin-top: 5px;
	margin-bottom: 5px;
}

ion-content {
	--ion-background-color: #fff;
	width: 100vw;
	padding-top: 10px;
}
ion-item {
	width: 100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	--background-color: #fff;

	ion-label {
		min-width: 25%;
		--background-color: transparent;
	}
	ion-select {
		min-width: 75%;
		text-align: right;
		--background-color: transparent;
		font-size: 15px;
	}
}