ion-thumbnail {
  min-width: 90px;
  min-height: 90px;
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}
.image-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.container ion-label {
  padding-left: 8px;
}
.label-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

.iconContainer ion-icon {
  font-size: 30px;
  margin-bottom: 2px;
}

.iconContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-content: flex-end;
}

.menu-label ion-icon {
  padding-top: 0px;
  margin: 0px;
  font-size: 20px;
  position: absolute;
  bottom: 8px;
}
.menu-label ion-label {
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  left: 40px;
}
.iconContainer:hover .dropdown-content {
  display: block;
}
