<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button  defaultHref="/video-list"></ion-back-button>
		</ion-buttons>
		<ion-title class="ion-text-center">Local Streaming</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="page-centered-element">
		<div class="content">
			<video width="350" height="300" controls preload="metadata"> 
					<!-- <source src = "http://localhost:50000/rest/video/" > -->
					<source src={{video_path}}>
			</video> 
		</div>
	</div>
</ion-content>


