<ion-header>
  <ion-toolbar class="header"
    color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""
        class="ion-text-capitalize"
        routerLink="/video-list"
        routerDirection="root"
        (click)="onExit()"
        text="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="page-centered-element">
    <div class="content">
      <video *ngIf="showVideo"
        width="350"
        height="300"
        controls
        pleload="metadata"
        autoplay="">
        <source src="{{ getVideoPath() }}"
          type="video/mp4" />
      </video>
    </div>
  </div>
</ion-content>