ion-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 90px 1px;
	width: 100%;
	height: 100%;
	text-align: ion-text-center;
}
.page-title {
	font-size: 20px;
	color: rgb(88, 88, 88);
}
.container {
	--ion-background-color: #ebebeb;
	height: 100%;
}
.image {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px;
	border-color: #4b4a4a;
	border-style: solid;
}
ion-back-button {
	color: rgb(88, 88, 88);
}
.header {
	--ion-color-primary: #ffffff;
	--border-color: #797979;
	--border-width: 1px;	
}
.list-background {
	height: 100%;
	border-bottom: 1px;
	border-color: #6d6c6c;
}