<ion-header>
  <ion-toolbar class="header"
    color="primary"
    mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""
        routerLink="/home"
        routerDirection="root"
        text="home"
        class="ion-text-capitalize">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Video Library</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-virtual-scroll [items]="dirData"
    approxItemHeight="100px">
    <div class="image"
      *virtualItem="let item"
      style="font-size:smaller">
      <app-input-row (deleteEvent)="removeVideo($event)"
        [data]="item">
      </app-input-row>
    </div>
  </ion-virtual-scroll>
</ion-content>