/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-back-button {
  padding: 0px 5px;
  color: #f7f7f7;
}
ion-header {
  height: 50px;
}
ion-toolbar {
  --ion-color-primary: #353d55;
  --border-color: #797979;
  --border-width: 1px;
  height: 100%;
  --border-color: #353d55;
}

@media only screen and (orientation: landscape) {
  .my-modal {
    .modal-wrapper {
      position: absolute;
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

$background-color: #a3b8bd;
$toggle-background: #a0a0a0;
$toggle-background-checked: #70d9ff;
$input-background: #c4dfe6;
$font-color: #ffffff;
$button-color: rgb(40, 23, 105);
.control-section {
  background: $background-color;
  font-family: 'Segoe UI';

  .heading-text {
    color: $font-color;
    font-size: 20px;
    text-align: start;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: 900;
    margin: 0;
  }

  p {
    color: $font-color;
    padding-left: 16px;
    margin: 0px;
  }

  ion-range {
    margin-left: 0px;
    --knob-background: #ffffff;
    --bar-background-active: #1aafb4;
    --bar-background: #3a2a2a;
    --bar-height: 10px;
    --knob-size: 15px;
    --knob-border-radius: 3px;
    --bar-border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .slider-value-container {
    width: 15%;
    text-align: center;
  }

  ion-toggle {
    --background-checked: #{$toggle-background-checked};
    --background: #{$toggle-background};
    box-sizing: border-box;
  }

  .exposure-container {
    display: flex;
    flex-direction: column;
  }

  ion-input {
    border: 1px solid rgb(148, 154, 156);
    padding: 1px;
    background-color: $input-background;
    border-radius: 10px;
  }

  .input-text {
    width: auto;
    padding: 5px;
    font-weight: bold;
    color: $font-color;
  }

  ion-label {
    width: 95px;
    word-wrap: break-word;
    font-size: 14px;
    color: #{$font-color} !important;
  }

  .reset-button {
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 5px;
    display: block !important;
    --background: #{$button-color};
  }

  ion-item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    --background: #{$background-color};
    --border-width: 0px;
    --border-style: none;
  }
}
@media (min-width: 800px) {
  .control-section {
    .heading-text {
      font-size: 26px;
    }
    ion-label {
      font-size: 16px;
    }
    .exposure-container {
      flex-direction: row;
      ion-label {
        width: auto;
        word-break: break-all;
      }
    }
  }
  ion-content {
    --background: #{$background-color};
  }
}
