<!DOCTYPE html>
<div class="livestream-page">
  <ion-header *ngIf="isPortrait()">
    <ion-toolbar color="primary"
      mode="ios">
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""
          text="home"
          routerLink="/home"
          routerDirection="root"
          class="ion-text-capitalize"></ion-back-button>
      </ion-buttons>
      <ion-title>Camera Stream</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="livestream-container">
    <div class="camera-stream">
      <img *ngIf="isRecording && !showSpinner"
        [src]="getImgContent()">
      <img *ngIf="!isRecording"
        src="assets/icon/default-image.jpg">
      <div class="spinnerContainer"
        *ngIf="showSpinner && isRecording">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-content *ngIf="isPortrait()">
      <DefaultCam *ngIf="isDefaultCam()"
        (sendCameraSettings)="sendCameraSettings($event)"
        (sendVideoLength)="sendVideoLength($event)"
        (rotateStream)="rotateStream($event)"></DefaultCam>
      <MSHD3000 *ngIf="isMSHD3000()"
        (sendCameraSettings)="sendCameraSettings($event)"
        (sendVideoLength)="sendVideoLength($event)"
        (rotateStream)="rotateStream($event)"></MSHD3000>
      <LogitechC920 *ngIf="isLogitechC920()"
        (sendCameraSettings)="sendCameraSettings($event)"
        (sendVideoLength)="sendVideoLength($event)"
        (rotateStream)="rotateStream($event)"></LogitechC920>
      <div style="height:80px; width:100%; background-color: transparent;">
      </div>
    </ion-content>
  </div>
</div>