.livestream-page {
  width: 100%;
  height: 100%;
}
.livestream-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .camera-stream {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    img {
      padding: 15px 0px;
      width: 80%;
    }
    .spinnerContainer {
      background-color: #000;
      width: 100%;
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-spinner {
        --color: #6ecbf7;
      }
    }

    @media only screen and (orientation: landscape) and (max-device-width: 800px) {
      height: 100%;
      width: 100%;
      img {
        padding: 0px;
      }
    }
  }
}
ion-header {
  position: sticky;
}

@media (min-width: 800px) {
  .camera-stream {
    flex: 3;
    height: 100%;
    img {
      padding: 0px;
      width: 100%;
      height: auto;
    }
  }
  ion-content {
    flex: 2;
  }
  .livestream-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}
