<ion-header>
	<ion-toolbar color="primary"
		mode="ios">
		<ion-buttons slot="end">
			<ion-button (click)="updateTheme()"
				fill="clear">
				<ion-icon slot="icon-only"
					name="{{theme}}"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Pi Dashcam
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="buttonContainer">
		<ion-button mode="ios"
			routerLink="/video-list"
			routerDirection="root">
			View Videos
		</ion-button>
		<ion-button mode="ios"
			routerLink="/live-stream"
			routerDirection="root"
			(click)="startStreamServer()">
			View Livestream
		</ion-button>
		<ion-button mode="ios"
			(click)="startRecording()"
			[disabled]="isRecording">
			Start Recording
		</ion-button>
		<ion-button mode="ios"
			(click)="stopRecording()"
			[disabled]="!isRecording">
			Stop Recording
		</ion-button>
		<ion-button mode="ios"
			(click)="showErrorLog()">
			Error Log
		</ion-button>
	</div>
	<ion-item class="cam-select">
		<ion-label>Webcam</ion-label>
		<ion-select mode="ios"
			[(ngModel)]="camera"
			(ionChange)="selectionChange()"
			disabled="{{isRecording}}">
			<ion-select-option *ngFor="let camera of camList"
				value="{{camera}}">{{camera}}
			</ion-select-option>
		</ion-select>
	</ion-item>
	<div class="camera-image-container">
		<ion-spinner *ngIf="showSpinner"></ion-spinner>
		<ion-img *ngIf="!showSpinner"
			[src]="camImage"></ion-img>
	</div>
	<ion-button mode="ios"
		class="shutdown-button"
		(click)="shutDownConfirm()">
		Shutdown
	</ion-button>

</ion-content>