<ion-header>
	<ion-toolbar class="header" color="primary" mode="ios">
		<ion-title class="ion-text-center">
			Dash Cam Pi Viewer
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div>
		<ion-button mode="ios" class="reset-button" expand="block" routerLink="/video-list" routerDirection="forward">
			Recorded Videos</ion-button>
		<ion-button mode="ios" class="reset-button" expand="block" routerLink="/live-stream" routerDirection="backward" (click)="startStreamServer()">
			Live Camera</ion-button>
		<ion-button mode="ios" class="exit-button" expand="block" (click)="exit()">
			Shutdown</ion-button>
	</div>
</ion-content>