
.header {
	--ion-color-primary: #22096e;
	--ion-color-primary-rgb: 0,35,180;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #000e5a;
	--ion-color-primary-tint: #16239b;
}
.reset-button {
	width: 96%;
	--background: #2d0d8f;
}
.exit-button {
	width: 90%;
	position: absolute;
	bottom: 10%;
	text-align: center;
	--background: #b60303;
}