.home-back {
  color: #fff;
}
ion-icon {
  color: #fff;
}
.shutdown-button {
  width: 100%;
  display: block;
  text-align: center;
  --background: rgba(253, 56, 56, 0.747);
  --background-activated-opacity: 0.5;
  --color: #000;
  --background-hover: rgb(255, 162, 162);
  --background-activated: rgb(236, 181, 181);
  --border-radius: 0px;
  margin: 0px auto;
}

ion-img {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: auto;
}
